body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  #bulb {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
  }
 